.settings-row {
  width: 100%;
  margin-bottom: 10px;
}

.settings-row .label {
  width: 200px;
  display: inline-block;
  text-align: left;
}

.settings-row .value {
  display: inline-block;
  text-align: left;
}

.settings-row .value input {
  width: 60px;
}