<div class="modal-header">
  <h4 class="modal-title">Asetukset</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="settings-row">
    <div class="label">
      Työjakson pituus (min)
    </div>
    <div class="value">
      <input 
        type="number" 
        min="0"
        [(ngModel)]="pomodoroTimeMin"/>
    </div>
  </div>

  <div class="settings-row">
    <div class="label">
      Tauon pituus (min)
    </div>
    <div class="value">
      <input 
        type="number" 
        min="0"
        [(ngModel)]="breakTimeMin"/>
    </div>
  </div>

  <div class="settings-row">
    <div class="label">
      Äänimerkki
    </div>
    <div class="value">
      <input type="checkbox" [(ngModel)]="settings.soundOn"/>
    </div>
  </div>

  <div class="settings-row">
    <div class="label">
      Äänenvoimakkuus
    </div>
    <div class="value">
      <input type="range" min="0.0" max="1.0" step="0.1" [(ngModel)]="settings.volume"/>
      <span>{{settings.volume}}</span>
    </div>
  </div>  

  <div class="settings-row">
    <div class="label">
      Työpöytäilmoitukset
    </div>
    <div class="value">
      <input type="checkbox" [(ngModel)]="settings.notifications"/>
    </div>
  </div>    
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="cancel()">Peruuta</button>
  <button type="button" class="btn btn-secondary" (click)="save()">Tallenna</button>
</div>