.app-timer {
  position: absolute;
  width: 100vw;
  left: 0;
  bottom: 40vh;
  margin: 0 auto;
  -webkit-transition: bottom 0.2s ease-in;
  transition: bottom 0.2s ease-in;
  margin-top: 20vh;
}

.app-timer.break-active {
  bottom: 50px;
  transition: bottom 0.35s ease-out;
}

.app-timer.break-active .timer-value {
  font-size: 5em !important;
  text-align: center;
  transition: font 0.25s ease;
}

.app-timer.break-active .timer-button {
  font-size: 1.5em !important;
}

.timer-value {
  font-size: 10em;
  cursor: default;
  margin: 0 auto;
  text-align: center;
  transition: font 0.25s ease;
}

.app-toolbar {
  text-align: left;
  width: 150px;
  margin: 15px auto 0 auto;
  text-align: center;
}

.app-toolbar .fa {
  margin: 0 25px;
  font-size: 24px;
  display: inline-block;
}

.app-toolbar .fa:hover {
  color: #e6e6e6;
  cursor: pointer;
}

@media only screen and (max-width:768px) {
  .timer-value {
    font-size: 7em;
  }
}
