.app-timer {
  width: 250px;
  position: fixed;
  left: 42vw;
  bottom: 44vh;
  transition: bottom 0.2s ease-in;
}

.app-timer.break-active {
  position: fixed;
  left: 42vw;
  bottom: 50px;
  transition: bottom 0.25s ease-out;
}

.app-timer.break-active .timer-value {
  font-size: 5em !important;
  text-align: center;
  transition: font 0.25s ease;
}

.app-timer.break-active .timer-button {
  font-size: 1.5em !important;
}

.timer-value {
  font-size: 10em;
  cursor: default;
  margin: 0 auto;
  text-align: center;
  transition: font 0.25s ease;
}

.timer-button {
  font-size: 2em;
  padding: 5px;
  cursor: pointer;
  display: inline-block;
  width: 100px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  outline: none;

  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);  
}

.timer-button:first-child {
  margin-right: 5px;
}

.timer-button:nth-child(2) {
  margin-left: 5px;
}

.timer-button:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);  
}