.pomodoro {
  width: 55vw;
  height: 52vh;
  margin: 0 auto;
}

.break-text {
  width: 0;
  opacity: 0;
}

.break-text.visible {
  display: block;
  font-size: 6em;
  position: fixed;
  width: 90vw;
  text-align: center;
  margin: 0 auto;
  bottom: 52vh;
  opacity: 1;
  left: 5vw;
  -webkit-transition: opacity 0.5s ease-in;
  transition: opacity 0.5s ease-in;
}

@media only screen and (max-width:768px) {
  .break-text.visible {
    font-size: 2.5em;
  }
}